@import "tailwindcss";

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

.disable-scroll::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #404040 #0a0a0a;
}

*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #0a0a0a;
}

*::-webkit-scrollbar-thumb {
    background: #404040;
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #525252;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}